/* Bloque principal */
.despacho-pedidos {
    font-family: 'HurmeGeometricSans1 Bold', sans-serif;
    height: 100%;
    min-height: 100vh;
    background-image: url("https://tienda.mundosantanatura.com/img/fondoSumaqWasi.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 40px;
}

/* Header */
.despacho-pedidos__header {
    text-align: center;
    margin-bottom: 20px;
}

.despacho-pedidos__title {
    color: #4d4d4d;
    font-size: 3.6rem;
    font-weight: bold;
}

/* Subtítulo */
.despacho-pedidos__box-header {
    margin-bottom: 35px;
}

.despacho-pedidos__subtitle {
    color: #4d4d4d;
    font-size: 2.4rem;
    font-weight: 600;
}

/* Filtros */
.despacho-pedidos__filters {
    margin-bottom: 20px;
    padding-left: 10px;
}

.despacho-pedidos__filter {
    margin-bottom: 10px;
}

.despacho-pedidos__input {
    width: 100%;
    border-radius: 4px;
}

.despacho-pedidos__input--highlight {
    background-color: lightgreen;
}

.despacho-pedidos__btn#btnGenerar {
    font-weight: bold;
    position: absolute;
    right: 0;
    padding-right: 20px;
    top: 20px;
}

.despacho-pedidos__btn.btn-cerrar-modal-detalle {
    transition: .3s ease background-color;
}

    .despacho-pedidos__btn.btn-cerrar-modal-detalle:hover {
        background-color: rgba(0,0,0,0.1);
    }

.btn.despacho-pedidos__btn:focus:active,
.btn.ver-detalle-despachoPedido:focus:active {
    outline: none;
}

/* Tabla */
.despacho-pedidos__table-container {
    padding: 15px;
    position: relative;
}

.despacho-pedidos__table {
    width: 100%;
    border-collapse: collapse;
}

.table .despacho-pedidos__table-header > th {
    background-color: #f5f5f5;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    background: #1FA438 !important;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
}

.despacho-pedidos__table-body tr:hover {
    background-color: #f9f9f9;
}

.table .despacho-pedidos__table-body tr td {
    font-family: 'HurmeGeometricSans1', sans-serif;
    vertical-align: middle
}

.odd td:nth-child(2n+1), .even td:nth-child(2n+1) {
    background: #5FAF6B;
}

.odd td:nth-child(2n+2), .even td:nth-child(2n+2) {
    background: #91D19C;
}

.odd, .even td {
    color: #4d4d4d
}

.ver-detalle-despachoPedido.btn.btn-primary {
    background-color: #1FA438;
}

    .ver-detalle-despachoPedido.btn.btn-primary:hover {
        background-color: #1b832f;
    }

    .ver-detalle-despachoPedido.btn.btn-primary:active {
        background-color: #0f5f1e;
    }

.despacho-pedidos .despacho-pedidos__content .table-responsive .dataTables_wrapper .dataTables_paginate ul .active a {
    background-color: #1FA438;
}

/* Modal */
.despacho-pedidos__modal-dialog {
    max-width: 800px;
}

.despacho-pedidos__modal-content.modal-content {
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'HurmeGeometricSans1', sans-serif; /* Regular para legibilidad */
    color: #4d4d4d;
    background-color: #f5f5f5;
}

.despacho-pedidos__modal-header {
    color: #4d4d4d;
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 25px;
    text-align: center;
}

.despacho-pedidos__modal-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.despacho-pedidos__img {
    object-fit: cover;
}

.despacho-pedidos__input-number.form-control[disabled]:disabled {
    background-color: rgba(255, 255, 255, .5);
    cursor: no-drop;
    pointer-events: none;
    border: 2px solid green;
    box-shadow: inset 0px 0px 10px 2px;
    width: 60px;
}

.form-inline .form-control.despacho-pedidos__input-number.form-control {
    width: 60px;
}

.modal-header button.close.despacho-pedidos__modal-close {
    opacity: 0.9;
    font-size: 2.5rem;
    color: #828282;
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 20px;
}

.despacho-pedidos__modal-close:hover {
    opacity: 1;
}

.despacho-pedidos__modal-body {
    padding: 20px;
}

/* Tabla del modal */
table.despacho-pedidos__detalle-table > tbody > tr > td {
    width: auto;
    border-collapse: collapse;
    vertical-align: middle;
}

.table.despacho-pedidos__detalle-table.dataTable thead th {
    background: #5FAF6B;
    color: white;
    padding: 10px;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

.table.despacho-pedidos__detalle-table.dataTable thead td {
    background: #91D19C;
    padding: 10px;
    color: #4d4d4d;
}

.despacho-pedidos__modal-footer {
    padding: 15px 20px;
    border-top: none;
    background-color: #f5f5f5;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#tbl-detalle-pedido_wrapper div.dataTables_paginate ul .active a {
    background-color: #1FA438;
}