.bloqueHistoricoTopVentasXNivel {
    margin-top: 73px;
}

    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top {
        display: flex;
        align-items: flex-start;
        grid-column-gap: 15px;
        padding: 42px 85px 67px;
    }

        .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top a {
            display: flex;
        }

            .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top a:hover i {
                color: #9B9B9B;
            }

            .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top a i {
                font-size: 20px;
                color: #000;
                transition: .3s color;
            }

        .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top div span {
            font-size: 25px;
            color: var(--Dark-grises);
            line-height: .8;
            font-weight: 700;
            font-family: var(--Font-type);
        }

        .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top div p {
            font-size: 0.9em;
        }

    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body {
        background-color: #F9F9F9;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-column-gap: 13px;
        grid-row-gap: 22px;
        padding: 30px 60px;
    }

        .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla {
            background-color: #fff;
            border-radius: 7px;
            padding: 26px 22px
        }

            .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
            }

                .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top > p {
                    font-weight: 500;
                    font-size: 20px;
                    margin: 0;
                    line-height: .8;
                    color: var(--Dark-grises);
                }

                .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top > select {
                    background-color: #f4f4f4;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border: none;
                    color: #000;
                    padding: 1vh 15px;
                    border-radius: 8px;
                    width: 100%;
                    max-width: 135px;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%231B2C5E;" /></svg>  ');
                    background-position: right 15px top 50%;
                    background-repeat: no-repeat;
                    background-size: 15px;
                    font-size: 1em;
                    margin-left: 5px;
                }

                    /*.bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top > select:hover {
                        background-color: var(--Darkest2-primary);
                        border: 1px solid var(--Darkest2-primary);
                    }

                    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top > select:focus {
                        background-color: var(--Dark2-primary);
                        border: 1px solid var(--Dark2-primary);
                        outline: none
                    }*/

            .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__body > .dataTables_wrapper > div:nth-child(1) {
                margin-bottom: 23px;
            }
table.nowrap > thead > tr > th {
    background-color: var(--Light-purple);
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

#table_id > thead > tr > th:nth-child(1), #table_id2 > thead > tr > th:nth-child(1), #table_id3 > thead > tr > th:nth-child(1), #table_id4 > thead > tr > th:nth-child(1) {
    border-radius: 7px 0px 0px 0px;
}

#table_id > thead > tr > th:nth-last-child(1), #table_id2 > thead > tr > th:nth-last-child(1), #table_id3 > thead > tr > th:nth-last-child(1), #table_id4 > thead > tr > th:nth-last-child(1) {
    border-radius: 0px 7px 0px 0px;
}

table.dataTable.nowrap > thead > tr > th {
    background-color: var(--Light-purple);
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 23px;
    text-align: center;
}

#table_id_paginate .pagination {
    grid-gap: 8px;
    margin: 20px 0 10px !important;
}

#table_id2_paginate .pagination {
    grid-gap: 8px;
    margin: 20px 0 10px !important;
}

#table_id3_paginate .pagination {
    grid-gap: 8px;
    margin: 20px 0 10px !important;
}

#table_id4_paginate .pagination {
    grid-gap: 8px;
    margin: 20px 0 10px !important;
}

/*--------------Para el Buscar de la primera tabla---------------------*/
#table_id_wrapper > div:nth-child(1) > div:nth-child(2) > div > label > input::placeholder {
    /*font-family: "Font Awesome 5 Free";*/
    /*font-weight: 900;*/
    background-image: url('../../img/Buscar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 17px;
    color: #C4C4C4;
    font-size: 12px;
    word-spacing: 17px;
}

#table_id_filter > label, #table_id_length > label {
    margin-bottom: 0;
    font-weight: 400;
}

#table_id_filter > label {
    display: flex;
    justify-content: flex-start;
}

    #table_id_filter > label > input {
        border: 1px solid var(--Medium-purple);
        border-radius: 8px;
        padding: 0 13px;
        width: 189px;
        height: 36px;
    }

        #table_id_filter > label > input:focus {
            outline: none;
        }

        #table_id_filter > label > input:active {
            outline: none;
        }

/*--------------Para el Buscar de la segunda tabla---------------------*/
#table_id2_wrapper > div:nth-child(1) > div:nth-child(2) > div > label > input::placeholder {
    /*font-family: "Font Awesome 5 Free";*/
    /*font-weight: 900;*/
    background-image: url('../../img/Buscar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 17px;
    color: #C4C4C4;
    font-size: 12px;
    word-spacing: 17px;
}

#table_id2_filter > label, #table_id2_length > label {
    margin-bottom: 0;
    font-weight: 400;
}

#table_id2_filter > label {
    display: flex;
    justify-content: flex-start;
}

    #table_id2_filter > label > input {
        border: 1px solid var(--Medium-purple);
        border-radius: 8px;
        padding: 0 13px;
        width: 189px;
        height: 36px;
    }

        #table_id2_filter > label > input:focus {
            outline: none;
        }

        #table_id2_filter > label > input:active {
            outline: none;
        }

/*--------------Para el Buscar de la tercera tabla---------------------*/
#table_id3_wrapper > div:nth-child(1) > div:nth-child(2) > div > label > input::placeholder {
    /*font-family: "Font Awesome 5 Free";*/
    /*font-weight: 900;*/
    background-image: url('../../img/Buscar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 17px;
    color: #C4C4C4;
    font-size: 12px;
    word-spacing: 17px;
}

#table_id3_filter > label, #table_id3_length > label {
    margin-bottom: 0;
    font-weight: 400;
}

#table_id3_filter > label {
    display: flex;
    justify-content: flex-start;
}

    #table_id3_filter > label > input {
        border: 1px solid var(--Medium-purple);
        border-radius: 8px;
        padding: 0 13px;
        width: 189px;
        height: 36px;
    }

        #table_id3_filter > label > input:focus {
            outline: none;
        }

        #table_id3_filter > label > input:active {
            outline: none;
        }

/*--------------Para el Buscar de la cuarta tabla---------------------*/
#table_id4_wrapper > div:nth-child(1) > div:nth-child(2) > div > label > input::placeholder {
    /*font-family: "Font Awesome 5 Free";*/
    /*font-weight: 900;*/
    background-image: url('../../img/Buscar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 17px;
    color: #C4C4C4;
    font-size: 12px;
    word-spacing: 17px;
}

#table_id4_filter > label, #table_id4_length > label {
    margin-bottom: 0;
    font-weight: 400;
}

#table_id4_filter > label {
    display: flex;
    justify-content: flex-start;
}

    #table_id4_filter > label > input {
        border: 1px solid var(--Medium-purple);
        border-radius: 8px;
        padding: 0 13px;
        width: 189px;
        height: 36px;
    }

        #table_id4_filter > label > input:focus {
            outline: none;
        }

#table_id_filter > label > input:active {
    outline: none;
}

/*-----------------------------------PARA LA PAGINACION--------------------------------------------*/
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    border: 1px solid transparent;
    cursor: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    display: flex;
    align-items: center;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid var(--Medium-primary) !important;
}

.pagination {
    grid-gap: 8px;
    flex-wrap: nowrap !important;
}

    .pagination > .disabled > a {
        border: 0px solid #ddd !important;
        color: #A6A6A6 !important
    }

ul.pagination > .paginate_button:nth-last-child(1) > a {
    border: 0px solid #ddd !important;
    padding: 6px 0 !important;
}

.pagination > li > a {
    border-radius: 4px;
    line-height: .8 !important;
    padding: 6.5px 8.5px !important;
    color: #3A3A3A !important;
    font-weight: 500;
}

.pagination > li:first-child > a {
    border: 0px solid #ddd;
    padding: 6px 0 !important;
}

.pagination > .active > a {
    color: #fff !important;
}

.pagination > li:not(.previous, .disabled, .next) > a {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

table.dataTable.nowrap > tbody > tr > td {
    font-weight: 400;
    color: #6D6D6D;
    font-size: 12px;
    text-align: center;
}

@media (min-width: 1400px) {
    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top {
        padding: 42px 15% 0;
    }

    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body {
        padding: 30px 15%;
    }
}

@media (max-width: 1142px){
    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla {
        max-width: 700px;
        margin: auto;
        width: 100%;
    }
}
@media (max-width: 641px) {

        .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top {
            padding: 24px;
            grid-column-gap: 9px;
            margin-bottom: 0;
        }

            .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top a i {
                font-size: 16px;
            }

            .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top div span {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2;
            }

        .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body {
            padding: 50px 20px;
            grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
            justify-content: center;
        }

            .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla {
                padding: 18px 19px;
            }

                    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top > p {
                        font-size: 16px;
                    }

                .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top select {
                    width: min-content;
                    padding: 11.72px 10px 11.7px 14px;
                    background-size: 13px;
                    line-height: .8;
                }

                .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__body .dataTables_wrapper div:nth-child(2) {
                    margin-right: 0px;
                    margin-left: 0px;
                }

                    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__body .dataTables_wrapper div:nth-child(2) div {
                        padding: 0;
                    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        float: right;
    }
    .sectionHistoricoTopVentasXNivel__body > div > p {
        font-size: 16px;
    }

    .dataTables_wrapper .row:nth-child(1) {
        margin-bottom: 23px;
    }

    #table_id_filter > label {
        padding-left: 10px;
    }

    #table_id2_filter > label {
        padding-left: 10px;
    }

    #table_id3_filter > label {
        padding-left: 10px;
    }

    #table_id4_filter > label {
        padding-left: 10px;
    }
    table.dataTable.nowrap th, table.dataTable.nowrap td {
        font-size: 12px;
        text-align: center;
    }
}

@media (max-device-width: 500px){
    .bloqueHistoricoTopVentasXNivel {
        margin-top: 46px;
    }

    .pagination {
        grid-column-gap: 4px;
    }

        .pagination > li > a {
            font-size: 10px;
            padding: 5px 7px !important;
        }

    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__top div p {
        font-size: 0.7em;
        width: 97%;
        text-align: justify;
    }

    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body {
        padding: 30px 20px;
    }

    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top {
        flex-direction: column;
        row-gap: 16px;
        align-items: flex-start;
        margin-bottom: 8px;
        padding-left: 13px;
    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        float: left;
    }
    #table_id_paginate .pagination {
        grid-gap: 6px;
        margin: 0 0 10px !important;
    }

    #table_id2_paginate .pagination {
        grid-gap: 6px;
        margin: 0 0 10px !important;
    }

    #table_id3_paginate .pagination {
        grid-gap: 6px;
        margin: 0 0 10px !important;
    }

    #table_id4_paginate .pagination {
        grid-gap: 6px;
        margin: 0 0 10px !important;
    }
}

@media (max-device-width: 280px) {
    .bloqueHistoricoTopVentasXNivel {
        margin-top: 46px;
    }

    .pagination {
        grid-column-gap: 4px;
    }

        .pagination > li > a {
            font-size: 10px;
            padding: 5px 7px !important;
        }

    .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body {
        padding: 30px 10px;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

        .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla {
            padding: 18px 10px;
        }

            .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body > .bloqueTabla > .bloqueTabla__top {
                flex-direction: column;
                row-gap: 16px;
                align-items: flex-start;
                margin-bottom: 8px;
                padding-left: 15px;
            }

        .bloqueHistoricoTopVentasXNivel .sectionHistoricoTopVentasXNivel__body .bloqueTabla .bloqueTabla__body .dataTables_wrapper {
            width: 210px;
            margin: auto;
        }

    .dataTables_paginate .pagination {
        flex-wrap: wrap !important;
        margin: 10px 0 !important;
    }

    #table_id_filter > label {
        padding-left: 0;
    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        float: left;
    }
        .dataTables_wrapper .dataTables_filter input {
            margin-left: 0px;
        }
}